* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
body {
  margin: 0;
  background: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  margin: 2rem auto;
  text-align: center;
}

.my-about-div {
  height: 150px;
  cursor: pointer;
  transition: 0.3s all;
  border: 1px solid #e7e7e7;
  text-decoration: none;
  flex: 1 0 20%;
  background: white;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #fff;
  max-width: 250px;
}

.my-about-div:hover {
  border-color: white;
  box-shadow: 0 0 40px rgb(51 51 51 / 10%);
  transform: translateY(-5px);
}
